$color-white: #fff;
$color-black: #000;
$color-grey-dark: #777;

.wrapper {
  padding: 3rem;
  min-height: 95vh;
  background-image: linear-gradient(to right bottom, #25312396, #162c2591),
    url(../../logo.svg);
  background-size: cover;
  background-position: top;
  &__item {
    border-radius: 3rem;
    border: 0.5px solid $color-white;
    padding: 3rem;
    margin-bottom: 5rem;
  }
}

.heading-primary {
  color: $color-white;
  &--main {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1rem;
    margin-bottom: 1rem;
  }

  &--sub {
    display: block;
    font-size: 1.6rem;
    font-weight: 400;
    letter-spacing: 0.5rem;
    margin-bottom: 3rem;
  }
}

.form {
  &__group:not(:last-child) {
    margin-bottom: 3rem;
  }

  &__input {
    margin-top: 3rem;
    font-size: 1.5rem;
    padding: 1.5rem 2rem;
    border-radius: 2px;
    background-color: rgba($color: $color-white, $alpha: 0.8);
    border: none;
    border-bottom: 3px solid transparent;
    width: 90%;
    display: block;
    box-shadow: 0 1rem 2rem rgba($color: $color-black, $alpha: 0.5);
  }

  &__input:focus {
    outline: none;
    border-bottom: 3px solid lightblue;
  }
}
